html, body {
  margin: 0;
  height: 100%;
  background-color: black;
  color: #e21f49;
  font-family: Consolas, sans-serif;
  font-size: 29px;
}

#root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

#top {
  margin-top: 10%;
  text-align: right;
}

#top > text {
  color: white;
  margin-right: 5%;
}

#middle {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

#lettercrap {
  width: 70%;
  margin-left: 37%;
}

#top, #bottom {
  width: 100%;
}

#bottom {
  margin-bottom: 3%;
  text-align: left;
  vertical-align: bottom;
}

#bottom text {
  color: white;
  margin-left: 5%;
}

#code {
  width: 100%;
  text-align: left;
  margin-top: 50%;
  margin-left: 10%;
}


